
body {
  position:absolute;
  top: 0;
  left: 0;
  background: #000;
  background-image: radial-gradient(2px 2px at 147px 60px, #fff, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 19px 238px, #c0c0c0, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 206px 207px, #fff, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 239px 266px, #c0c0c0, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 310px 282px, #c0c0c0, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 171px 141px, #fff, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 271px 124px, #c0c0c0, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 110px 232px, #c0c0c0, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 81px 37px, #fff, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 10px 105px, #c0c0c0, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 107px 131px, #fff, rgba(0, 0, 0, 0));
  background-repeat: repeat;
  background-size: 314px 314px;
  perspective: 100px;
  transform-style: preserve-3d;
}

.pi {
  position:absolute;
  color: white;
  font-size: 100px;
  font-family: 'STHeiti';
  animation: flyby 5.14s linear infinite;
}


@keyframes flyby {
  0% {
    opacity: 0;
    transform: translate3d(0, 0, －50px);
  }
  30% {
    opacity: 0;
    transform: translate3d(200, 0, -100px);
  }
  35% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 0, 100px);
  }
}
