* {
	box-sizing: border-box;
}

body {
	background: black;
}

.canvas {
	width: 900px;
	height: 556px;
	margin-left:200px;
	margin-top:100px;
	background: white;
	position: absolute;

}


.triangle-left {
	width: 0;
	height: 0;
	border-top: 90px solid transparent;
	border-right: 50px solid black;
	border-bottom: 0px solid transparent;
	float: left;
	margin-left: 500px;
	margin-top: 95px;
	position: absolute;

}

.triangle-right {
	width: 0;
	height: 0;
	border-top: 90px solid transparent;
	border-left: 60px solid  black;
	border-bottom: 50px solid transparent;
	float: left;
	margin-left: 450px;
	margin-top: 95px;
	position: absolute;


}


.triangle-right2 {
	width: 0;
	height: 0;
	border-top: 90px solid transparent;
	border-left: 50px solid  black;
	border-bottom: 40px solid transparent;
	float: left;
	margin-left: 490px;
	margin-top: 95px;

}

.boluo{
	width: 100px;
	height: 100px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	background: yellow;
	float: left;
	margin: 30px;
}

.oval {
	width: 180px;
	height: 150px;
	background: #8CDFD6;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
  position:absolute;
	margin-left: 270px;
	margin-top: 320px;
	position: absolute;

}

.oval2 {
	width: 240px;
	height: 230px;
	background: #FFC4D1;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
  position:absolute;
	margin-left: 500px;
	margin-top: 250px;
	position: absolute;

}

.oval3 {
	width: 140px;
	height: 140px;
	background: #0852A0;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
  position:absolute;
	margin-left: 380px;
	margin-top: 220px;
	position: absolute;

}

.circle2{
	width: 200px;
	height: 300px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	background: yellow;
	float: left;
	margin-left: 390px;
	margin-top: 170px;
	position: absolute;

}

.flower1{
	width: 50px;
	height: 50px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: orange;
	float: left;
	margin-left: 400px;
	margin-top: 180px;
	position: absolute;

}

.flower2{
	width: 30px;
	height: 30px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: orange;
	float: left;
	margin-left: 450px;
	margin-top: 200px;
	position: absolute;

}

.flower3{
	width: 40px;
	height: 40px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: orange;
	float: left;
	margin-left: 500px;
	margin-top: 190px;
	position: absolute;

}

	.flower4{
		width: 40px;
		height: 40px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		background: orange;
		float: left;
		margin-left: 470px;
		margin-top: 218px;
		position: absolute;

	}

	.flower5{
		width: 20px;
		height: 20px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		background: orange;
		float: left;
		margin-left: 430px;
		margin-top: 230px;
		position: absolute;

	}


.rectangle{
	 width: 10px;
	 height: 200px;
	 margin-left: 440px;
	 margin-top: 220px;
	 background: brown;
	 position: absolute;
	 transform: rotate(-5deg);

 }

 .rectangle2{
 	 width: 10px;
 	 height: 150px;
 	 margin-left: 470px;
 	 margin-top: 220px;
 	 background: brown;
 	 position: absolute;
 	 transform: rotate(9deg);

  }

	.rectangle3{
  	 width: 10px;
  	 height: 200px;
  	 margin-left: 500px;
  	 margin-top: 220px;
  	 background: brown;
  	 position: absolute;
  	 transform: rotate(7deg);

   }



.bottle{
	width: 70px;
	height: 120px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	background: green;
	float: left;
	margin-left: 440px;
	margin-top: 360px;
	position: absolute;
}








}
